In [45]:
import pandas as pd

from sklearn.metrics import classification_report

from sklearn.metrics import accuracy_score

from sklearn.metrics import precision_score

from sklearn.metrics import recall_score

Create a new file named model_evaluation.py or model_evaluation.ipynb for these exercises.
Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

In the context of this problem, what is a false positive?

In [ ]:
false positive would be pred dog but actual cat

In the context of this problem, what is a false negative?

In [ ]:
false negative would be pred cat but actual dog

How would you describe this model?

accuracy is the number of correct guesses over all guesses

acxuracy is 80/100

precision is the number of true positives over all positive guesses

precision is 46/59

recall is the number of true positive over all positive cases

recall is 46/53

You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

Use the predictions dataset and pandas to help answer the following questions:

An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [ ]:
accuracy, decision tree

Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [ ]:
recall, k-nearest nieghbor

You are working as a data scientist for Gives You Paws â„¢, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In [5]:
df = pd.read_csv('gives_you_paws.csv')
df.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [8]:
df['baseline_prediction'] = 'dog'
df.head()

  actual model1 model2 model3 model4 baseline_prediction
0    cat    cat    dog    cat    dog                 dog
1    dog    dog    cat    cat    dog                 dog
2    dog    cat    cat    cat    dog                 dog
3    dog    dog    dog    cat    dog                 dog
4    cat    cat    cat    dog    dog                 dog

In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [14]:
pd.crosstab(df.actual, df.baseline_prediction)

baseline_prediction   dog
actual
cat                  1746
dog                  3254

In [15]:
accuracy = 3254/5000
accuracy

0.6508

In [26]:
precision = 3254/3254
precision

1.0

In [25]:
recall = 3254/5000
recall

0.6508

In [9]:
pd.crosstab(df.actual, df.model1)

model1   cat   dog
actual
cat     1423   323
dog      640  2614

In [40]:
accuracy_score(df.actual, df.model1)

0.8074

In [16]:
accuracy = (1423 + 2614)/5000
accuracy

0.8074

In [44]:
precision_score(df.actual, df.model1, average = None)

array([0.68977218, 0.89002383])

In [27]:
precision = 2614 / (2614 + 323)
precision

0.8900238338440586

In [51]:
recall_score(df.actual, df.model1, average = None)

array([0.81500573, 0.80331899])

In [29]:
recall = 2614 / (2614 + 640)
recall

0.803318992009834

In [10]:
pd.crosstab(df.actual, df.model2)

model2   cat   dog
actual
cat     1555   191
dog     1657  1597

In [19]:
accuracy = (1555 + 1597)/5000
accuracy

0.6304

In [30]:
precision = 1597 / (1597 + 191)
precision

0.8931767337807607

In [31]:
recall = 1597 / (1597 + 1657)
recall

0.49078057775046097

In [11]:
pd.crosstab(df.actual, df.model3)

model3   cat   dog
actual
cat      893   853
dog     1599  1655

In [20]:
accuracy = (893 + 1655)/5000
accuracy

0.5096

In [33]:
precision = 1655 / (1655 + 853)
precision

0.6598883572567783

In [34]:
recall = 1655 / (1655 + 1599)
recall

0.5086047940995697

In [12]:
pd.crosstab(df.actual, df.model4)

model4  cat   dog
actual
cat     603  1143
dog     144  3110

In [21]:
accuracy = (603 + 3110)/5000
accuracy

0.7426

In [35]:
precision = 3110 / (3110 + 1143)
precision

0.7312485304490948

In [36]:
recall = 3110 / (3110 + 144)
recall

0.9557467732022127

Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?

model 1

Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.