In [1]:
%autosave 0

Autosave disabled

In [3]:
import pandas as pd
import numpy as np
import adam_acquire
from env import get_connection
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from adam_prepare import titanic_pipeline

Let's read in our data from the titanic pipeline function!

In [4]:
 df = get_titanic()

NameError: name 'get_titanic' is not defined

In [2]:
train, val, test = titanic_pipeline()
train.shape, val.shape, test.shape

((623, 13), (134, 13), (134, 13))

In [3]:
train.head()

,survived,age,sibsp,parch,fare,alone,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,0,19.0,1,0,53.1000,0,1,1,0,0,0,0,1
45,0,29.0,0,0,8.0500,1,1,0,0,1,0,0,1
28,1,29.0,0,0,7.8792,1,0,0,0,1,0,1,0
633,0,29.0,0,0,0.0000,1,1,1,0,0,0,0,1
403,0,28.0,1,0,15.8500,0,1,0,0,1,0,0,1

We need to create our X and y subsets.

In [4]:
X_train = train.drop(columns = ['survived')
y_train = train.survived

X_val = val.drop(columns = 'survived')
y_val = val.survived

      age  sibsp  parch  class deck  embark_town  alone  sex_male
748  19.0      1      0  First    D  Southampton      0         1
45   29.0      0      0  Third  NaN  Southampton      1         1
28   29.0      0      0  Third  NaN   Queenstown      1         0
633  29.0      0      0  First  NaN  Southampton      1         1
403  28.0      1      0  Third  NaN  Southampton      0         1

In [6]:
X_trian = train.drop(columns = )

SyntaxError: invalid syntax (3852905643.py, line 1)

Before modeling, it's always important to define a baseline!

In [10]:
y_train.info()

<class 'pandas.core.series.Series'>
Int64Index: 623 entries, 748 to 136
Series name: survived
Non-Null Count  Dtype
--------------  -----
623 non-null    int64
dtypes: int64(1)
memory usage: 9.7 KB

In [7]:
#always create a baseline

y_train.mode()

0    0
Name: survived, dtype: int64

In [8]:
(y_train == 0).mean()

0.6163723916532905

#takeaway

the mojority of people died in the titanic.

Now we are ready to create a [RandomForestClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html) object and start modeling!

In [9]:
seed = 42

rf = RandomForestClassifier(max_depth = 5, random_state = seed)

rf.fit(X_train, y_train)

ValueError: could not convert string to float: 'First'

In [ ]:
rf.score(X_train, y_train)

In [ ]:
rf.score(X_val, y_val)

In [ ]:
rf.feature_importances_

In [ ]:
fi = pd.DataFrame({'feature': X_train.columns,
             'importance': rf.feature_importances_})

fi.sort_values(by = 'importance', ascending = False)