In [1]:
%autosave 0

Autosave disabled

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from adam_prepare import titanic_pipeline

Let's read in our data from the titanic pipeline function!

In [3]:
train, val, test = titanic_pipeline()
train.shape, val.shape, test.shape

found data

((623, 10), (134, 10), (134, 10))

We need to create our X and y subsets.

In [4]:
X_train = train.drop(columns = ['survived')
y_train = train.survived

X_val = val.drop(columns = 'survived')
y_val = val.survived

      age  sibsp  parch  class deck  embark_town  alone  sex_male
748  19.0      1      0  First    D  Southampton      0         1
45   29.0      0      0  Third  NaN  Southampton      1         1
28   29.0      0      0  Third  NaN   Queenstown      1         0
633  29.0      0      0  First  NaN  Southampton      1         1
403  28.0      1      0  Third  NaN  Southampton      0         1

In [6]:
X_trian = train.drop(columns = )

SyntaxError: invalid syntax (3852905643.py, line 1)

Before modeling, it's always important to define a baseline!

In [ ]:
#always create a baseline

y_train.mode()

In [ ]:
(y_train == 0).mean()

#takeaway

the mojority of people died in the titanic.

Now we are ready to create a [RandomForestClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html) object and start modeling!

In [ ]:
seed = 42

rf = RandomForestClassifier(max_depth = 5, random_state = seed)

rf.fit(X_train, y_train)

In [ ]:
rf.score(X_train, y_train)

In [ ]:
rf.score(X_val, y_val)

In [ ]:
rf.feature_importances_

In [ ]:
fi = pd.DataFrame({'feature': X_train.columns,
             'importance': rf.feature_importances_})

fi.sort_values(by = 'importance', ascending = False)